.App {
  background-color: white;
  overflow: auto;
  box-sizing: border-box;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  border-radius: 10px; }
  @media screen and (min-width: 600px) {
    .App {
      max-width: 700px;
      margin: 20px auto; } }
  .App header {
    background-color: #1dcd9f;
    color: #fcfcfc;
    padding-left: 20px;
    padding-right: 20px; }
    .App header h1 {
      padding: 10px 0; }
